# Виртуальное окружение
.venv/

# Кэш Python
__pycache__/
*.pyc

# Файлы macOS
.DS_Store

# Excel с заявками
requests.xlsx

# Настройки VS Code
.vscode/

config.py

requests.db
requests.xlsx
__pycache__/
*.pyc

requests.db